{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
{% endblock %}
    {% block title %}
        Home
    {% endblock %}

{% block body %}
<div class="container">
    <b>Welcome To My Symfony Test App</b>

</div>
{% endblock %}